* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: white;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.whole-screen {
  width: 100vw;
  height: 100vh;
  background-color: rgb(40 40 40);
  display: flex;
  justify-content: center;
  align-items: center;
}
.counter-screen {
  width: 90%;
  height: 80%;
  border: 1px solid white;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
.inputs {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}
button {
  padding: 10px 20px;
  font-size: 20px;
  color: white;
  background-color: rgb(26 26 26);
  border-radius: 10px;
  border: 0px solid transparent;
  cursor: pointer;
}
input[type="number"] {
  outline: 0px;
  background-color: rgb(59 59 59);
  padding: 6px;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.548);
}
p,
h1 {
  font-weight: 600;
}
.to-left {
  margin-left: -135px;
}
.too-left {
  margin-left: -200px;
}
@media screen and (max-width: 768px) {
  .counter-screen {
    width: 90%;
    border: none;
  }
}
@media screen and (max-width: 1000px) {
  .counter-screen {
    border: none;
  }
}
